{#{% extends 'label_pdf.html' %}#}
{#{% load humanize %}#}
{#{% load l10n %}#}
{##}
{#{% block content_pdf %}#}
{##}
{#    <table class="table">#}
{#        <tr>#}
{#            <td>#}
{#                <h5>#}
{#                    <b>#}
{#                        {{ std.solute_std.reagent.description_reagent }}#}
{#                        {{ std.concentration_std }}{{ std.concentration_unit }}#}
{#                    </b>#}
{#                </h5>#}
{#            </td>#}
{#        </tr>#}
{#    </table>#}
{##}
{#    <table class="tabContent" style="border-radius: 15px">#}
{#        <tr style="border-bottom: none; padding-bottom: 1px">#}
{#            <th style="border: none"><strong>Código: </strong></th>#}
{#            <th style="border: none"><strong>Preparación: </strong></th>#}
{#            <th style="border: none"><strong>Volumen: </strong></th>#}
{#            <th style="border: none"><strong>Vence: </strong></th>#}
{#        </tr>#}
{#        <tr style="border-top: none; border-bottom: none">#}
{#            <td style="border: none">{{ std.code_solution_std }}</td>#}
{#            <td style="border: none">{{ std.preparation_std_date | date:'Y-m-d' }}</td>#}
{#            <td style="border: none">{{ std.quantity_solution_std | intcomma:False }}mL</td>#}
{#            <td style="border: none">{{ std.expire_std_date_solution | date:'Y-m-d' }}</td>#}
{#        </tr>#}
{#        <tr style="border-bottom: none; border-top: none">#}
{#            <th style="border: none" colspan="2"><strong>Preparado por:</strong></th>#}
{#        </tr>#}
{#        <tr style="border-top: none">#}
{#            <td style="border: none" colspan="2">{{ std.preparated_std_by }}</td>#}
{#        </tr>#}
{#    </table>#}
{##}
{#{% endblock %}#}

{% extends 'label_pdf.html' %}
{% load humanize %}
{% load l10n %}

{% block content_pdf %}

    <table style="width: 100%; margin-bottom: 10px;">
        <tr>
            <td style="vertical-align: top;">
                {% if company_logo_path %}
                    <img src="{{ company_logo_path }}" alt="Logo {{ company.company_name }}"
                         style="width: 150px; height: auto;">
                {% else %}
                    <p style="font-size: 12px; color: #666;">{{ company.company_name }}</p>
                {% endif %}
            </td>
            <td style="vertical-align: top; padding-left: 15px;">
                <table style="width: 100%;">
                    <tr>
                        <td style="margin: 0; padding: 15px 0 0;">
                            <b style="font-size: 13px;">{{ sln.code_solution_std }}</b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table" style="margin-bottom: 5px;">
        <tr>
            <td style="text-align: center; vertical-align: middle; padding-top: 10px">
                <h5 style="margin: 0; padding: 0; text-align: center;">
                    <b>
                        {% if sln.solute_std.reagent.umb == 'g' %}Solución de {% endif %}{{ sln.solute_std.reagent.description_reagent }}
                        {{ sln.concentration_std }}{{ sln.concentration_unit }}
                    </b>
                </h5>
            </td>
        </tr>
    </table>

    <table class="tabContent" style="border-radius: 15px; width: 100%;">
        <tr style="border-bottom: none; padding-bottom: 1px">
            <th style="border: none; padding: 2px 5px 0;"><strong>Preparación:</strong></th>
            <th style="border: none; padding: 2px 5px 0;"><strong>Volumen:</strong></th>
            <th style="border: none; padding: 2px 5px 0;"><strong>Vence:</strong></th>
        </tr>
        <tr style="border-bottom: none; border-top:none; padding-bottom: 1px">
            <td style="border: none; padding: 0 5px 3px;">{{ sln.preparation_std_date|date:'Y-m-d' }}</td>
            <td style="border: none; padding: 0 5px 3px;">{{ sln.quantity_solution_std|intcomma:False }}mL</td>
            <td style="border: none; padding: 0 5px 3px;">{{ sln.expire_std_date_solution|date:'Y-m-d' }}</td>
        </tr>
        <tr style="border-bottom: none; border-top:none; padding-bottom: 1px">
            <th style="border: none; padding: 2px 5px 0;"><strong>N° de Lote:</strong></th>
        </tr>
        <tr style="border-bottom: none; border-top:none; padding-bottom: 1px">
            <td style="border: none; padding: 0 5px 3px;">{{ sln.solute_std.batch_number }}</td>
        </tr>
        <tr style="border-bottom: none; border-top:none; padding-bottom: 1px">
            <th style="border: none; padding: 2px 5px 0;" colspan="3"><strong>Preparado por:</strong></th>
        </tr>
        <tr style="border-top:none; padding-bottom: 1px">
            <td style="border: none; padding: 0 5px;" colspan="3">{{ sln.preparated_std_by }}</td>
        </tr>
    </table>

{% endblock %}