asgiref==3.8.1
dj-database-url==2.3.0
Django==5.2
django-crum==0.7.9
django-decouple==2.1
django-model-utils==4.2.0
django-password-history==1.0.8
django-widget-tweaks==1.5.0
djangoql==0.17.1
fontawesomefree==6.6.0
packaging==25.0
pillow==11.2.1
ply==3.11
psycopg2==2.9.10
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
