{% extends 'body.html' %}
{% load static %}

{% block head %}

    {% block head_list %}

    {% endblock %}

{% endblock %}


{% block notifications %}


{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="tile">
                <section class="invoice">
                    <div class="row mb-4">
                        <div class="col-6">
                            <h2 class="page-header">{{ object.company_name }}</h2>
                        </div>
                    </div>
                    <div class="row invoice-info">
                        <div class="col-4">
                            <img src="{{ company_logo }}" alt="Company Logo" class="img-fluid">
                        </div>
                        <div class="col-8">
                            <address>
                                <strong>NIT</strong>
                                {{ object.company_nit }}
                                <br>
                                <strong>Dirección</strong>
                                {{ object.company_address }}
                                <br>
                                {{ object.company_city }}, {{ object.company_country }}
                                <br>
                            </address>
                        </div>
                    </div>
                    <br>
                    <h3 class="tile-title">Sites</h3>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Planta</th>
                                    <th>Dirección</th>
                                    <th>Ciudad</th>
                                    <th>País</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for site in sites %}
                                    <tr>
                                        <td>{{ site.site_name }}</td>
                                        <td>{{ site.site_address }}</td>
                                        <td>{{ site.site_city }}</td>
                                        <td>{{ site.site_country }}</td>
                                        <td>
                                            {% if site.site_enable %}
                                                <span class="badge bg-success">Activo</span>
                                            {% else %}
                                                <span class="badge bg-danger">Inactivo</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'company:update_site' site.id %}" type="button">
                                                <i class="bi bi-pencil-square text-warning me-2"></i>
                                            </a>
                                            <a href="{% url 'company:detail_site' site.id %}" type="button">
                                                <i class="bi bi-info-square text-info"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No hay sites disponibles.</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row d-print-none mt-2">
                        <div class="col-12 text-end">
                            <a class="btn btn-primary" href="{% url 'company:create_site' %}"><i
                                class="bi bi-plus-circle me-2"></i> Nuevo Site</a>
                            <a class="btn btn-outline-primary" href="{% url 'company:company_update' object.id %}"><i
                                class="bi bi-pencil-square me-2"></i> Editar</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}