{% extends 'list_one.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'list_user.js' %}"></script>
{% endblock %}

{% block buttons %}
    <a href="{{ create_url }}" class="btn btn-primary me-2" type="button"> Nuevo</a>
    <a href="{{ download_url }}" class="btn btn-outline-primary me-2" type="button"> Descargar</a>
{% endblock %}

{% block columns %}
    <tr>
        <th>Nombre Completo</th>
        <th>Usuario</th>
        <th>Cargo</th>
        <th>Roles</th>
        <th>Email</th>
        <th>Planta</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
{% endblock %}

{% block rows %}


{% endblock %}

{% block scripts_detail %}
    {{ block.super }}
{% endblock %}