{% extends 'list_one.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'list_reagent.js' %}"></script>
{% endblock %}

{% block buttons %}
    <a href="{{ create_url }}" class="btn btn-primary me-2" type="button">
        <i class="bi bi-plus-square me-2"></i> Nuevo
    </a>
{#    <a href="{{ download_url }}" class="btn btn-outline-primary me-2" type="button"> Descargar</a>#}
{% endblock %}

{% block columns %}
    <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th>UMB</th>
        <th>Pureza</th>
        <th>Fabricante</th>
        <th>Planta</th>
        <th>Estado</th>
        <th>Ficha Técnica</th>
        <th>Acciones</th>
    </tr>
{% endblock %}

{% block rows %}


{% endblock %}

{% block scripts_detail %}
    {{ block.super }}
{% endblock %}

