{% extends 'body.html' %}

{% load static %}


{% block head %}
    {% block head_list %}

    {% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="tile mb-3">
                <div class="tile-title-w-btn">
                    <h3 class="title">Métodos Analíticos</h3>
                    <p>
                        <a class="btn btn-primary icon-btn"
                           onclick="open_modal('{{ create_method_product }}')"><i
                                class="bi bi-plus-square me-2"></i>Nuevo
                        </a>
                    </p>
                </div>
                <div class="tile-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Version</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in analytical_methods %}
                            <tr>
                                <td class="text-center">{{ item.analytical_method.code_analytical_method }}</td>
                                <td class="text-center">{{ item.analytical_method.description_analytical_method }}</td>
                                <td class="text-center">{{ item.analytical_method.type_method }}</td>
                                <td class="text-center">{{ item.analytical_method.version }}</td>
                                <td class="text-center">
                                    <a onclick="open_modal('{% url 'product:update_method_product' item.id %}')"
                                       title="Editar" style="cursor: pointer;">
                                        <i class="bi bi-pencil-square text-warning me-2"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">
                                    No hay métodos analíticos asociados a este producto.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="tile mb-3">
                <div class="tile-title-w-btn">
                    <h3 class="title">Especificaciones</h3>
                    <p>
                        <a class="btn btn-primary icon-btn"
                           onclick="open_modal('{{ create_specification_product }}')"><i
                                class="bi bi-plus-square me-2"></i>Nuevo
                        </a>
                    </p>
                </div>
                <div class="tile-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Ensayo</th>
                            <th class="text-center">Especificación</th>
                            <th class="text-center">Método</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in specifications %}
                            <tr>
                                <td class="text-center">{{ item.test_prod }}</td>
                                {% if item.lower_limit_prod or  item.upper_limit_prod %}
                                    <td class="text-center">
                                        {% if not item.lower_limit_prod or item.lower_limit_prod == 0 %}
                                            Menor que {{ item.upper_limit_prod|default_if_none:" " }} {{ item.unit_measure|default_if_none:" " }}
                                        {% elif not item.upper_limit_prod or item.upper_limit_prod == 0 %}
                                            Mayor que {{ item.lower_limit_prod|default_if_none:" " }} {{ item.unit_measure|default_if_none:" " }}
                                        {% else %}
                                            {{ item.lower_limit_prod|default_if_none:" " }} - {{ item.upper_limit_prod|default_if_none:" " }} {{ item.unit_measure|default_if_none:" " }}
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td class="text-center">{{ item.features_prod }}</td>
                                {% endif %}
                                <td class="text-center">{{ item.method_test.analytical_method.code_analytical_method }}</td>
                                <td class="text-center">
                                    <a onclick="open_modal('{% url 'product:update_specification_product' item.id %}')"
                                       title="Editar" style="cursor: pointer;">
                                        <i class="bi bi-pencil-square text-warning me-2"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">
                                    No hay especificaciones asociadas a este producto.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="tile">
                <div class="tile-title-w-btn">
                    <h3 class="title">Puntos de Muestreo</h3>
                    <p>
                        <a class="btn btn-primary icon-btn"
                           onclick="open_modal('{{ create_sample_point }}')"><i
                                class="bi bi-plus-square me-2"></i>Nuevo
                        </a>
                    </p>
                </div>
                <div class="tile-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Secuencia</th>
                            <th class="text-center">Código</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Frecuencia (Horas)</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sample in sample_point %}
                            <tr>
                                <td class="text-center">{{ sample.sequence }}</td>
                                <td class="text-center">{{ sample.sample_point_code }}</td>
                                <td class="text-center">{{ sample.sample_point_name }}</td>
                                <td class="text-center">
                                    {% if sample.sample_frequency %}
                                        {{ sample.sample_frequency }}
                                    {% else %}
                                        No aplica
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if sample.enable_point %}
                                        <span class="me-1 badge bg-primary">Activo</span>
                                    {% else %}
                                        <span class="me-1 badge bg-danger">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a onclick="open_modal('{% url 'product:update_sample_point' sample.id %}')"
                                       title="Editar">
                                        <i class="bi bi-pencil-square text-warning me-2"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">
                                    No hay puntos de muestreo asociados a esta planta.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal_template" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
{% endblock %}

{% block scripts_detail %}

    <script>
        function open_modal(url) {
            $('#modal_template').load(url, function () {
                var modalElement = document.getElementById('modal_template');
                var modal = bootstrap.Modal.getOrCreateInstance(modalElement);
                modal.show();
            });
        }
        // Initialize tooltips
        document.addEventListener("DOMContentLoaded", function () {
            // Inicializar tooltips
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>

{% endblock %}

