{% extends 'body.html' %}

{% load static %}


{% block head %}
    {% block head_list %}
{#        <script src="https://cdn.jsdelivr.net/npm/core-js@3/bundle.min.js"></script>  #}
        <script src="https://cdn.jsdelivr.net/npm/core-js@3/bundle.min.js"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
            window.MathJax = {
                tex: {
                    inlineMath: [['$', '$'], ['\\(', '\\)']],
                    displayMath: [['$$', '$$'], ['\\[', '\\]']]
                }
            };
        </script>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="tile mb-3">
                <div class="tile-title-w-btn">
                    <h3 class="title">Métodos Analíticos</h3>
                    <p>
                        <a class="btn btn-primary icon-btn"
                           onclick="open_modal('{{ create_method_product }}')"><i
                                class="bi bi-plus-square me-2"></i>Nuevo
                        </a>
                    </p>
                </div>
                <div class="tile-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Código</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Version</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in analytical_methods %}
                            <tr>
                                <td class="text-center">{{ item.analytical_method.code_analytical_method }}</td>
                                <td class="text-center">{{ item.analytical_method.description_analytical_method }}</td>
                                <td class="text-center">{{ item.analytical_method.type_method }}</td>
                                <td class="text-center">{{ item.analytical_method.version }}</td>
                                <td class="text-center">
                                    <a onclick="open_modal('{% url 'product:update_method_product' item.id %}')"
                                       title="Editar" style="cursor: pointer;">
                                        <i class="bi bi-pencil-square text-warning me-2"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3" class="text-center">
                                    No hay métodos analíticos asociados a este producto.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="tile mb-3">
                <div class="tile-title-w-btn">
                    <h3 class="title">Cálculos Dependientes</h3>
                </div>
                <div class="tile-body">
                    <div class="row g-2">
                        <!-- Botones en una sola fila -->
                        <div class="col-12">
                            <div class="d-flex gap-2 flex-wrap">
                                <button type="button"
                                        class="btn btn-outline-primary btn-sm"
                                        onclick="open_modal('{% url 'product:add_calc_relation_description' object.id %}')">
                                    <i class="bi bi-file-text me-1"></i>
                                    <small>Descripción Cálculo</small>
                                </button>
                                <button type="button"
                                        class="btn btn-outline-primary btn-sm"
                                        onclick="open_modal('{% url 'product:add_calc_relation' object.id %}')">
                                    <i class="bi bi-link me-1"></i>
                                    <small>Cálculo Relacionado</small>
                                </button>
                                <button type="button"
                                        class="btn btn-outline-primary btn-sm"
                                        onclick="open_modal('{% url 'product:add_factor_relation' object.id %}')">
                                    <i class="bi bi-123 me-1"></i>
                                    <small>Constante</small>
                                </button>
                                <button type="button"
                                        class="btn btn-outline-primary btn-sm"
                                        onclick="open_modal('{% url 'product:add_volume_relation_std' object.id %}')">
                                    <i class="bi bi-droplet me-1"></i>
                                    <small>Volumen Estándar</small>
                                </button>
                                <button type="button"
                                        class="btn btn-outline-primary btn-sm"
                                        onclick="open_modal('{% url 'product:add_sample_gram_relation' object.id %}')">
                                    <i class="bi bi-droplet me-1"></i>
                                    <small>Cantidad de Muestra</small>
                                </button>
                            </div>
                        </div>

                        <!-- Tabla debajo de los botones -->
                        {% if calcules_relation %}
                            <div class="col-12 mt-3">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                    <tr>
                                        <th class="text-center" style="width: 59%;">Descripción</th>
                                        <th class="text-center" style="width: 24%;">Posición</th>
                                        <th class="text-center" style="width: 17%;">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for calc in calcules_relation %}
                                        <tr>
                                            <td class="text-left align-middle">
                                                {% if calc.calculate_description_relation %}
                                                    Descripción: {{ calc.calculate_description_relation }}
                                                {% elif calc.analytical_method_calculate %}
                                                    Relación: {{ calc.analytical_method_calculate.calculate_description }}
                                                {% elif calc.volumen_std %}
                                                    Volumen STD: {{ calc.volumen_std }}
                                                {% elif calc.factor %}
                                                    Constante: {{ calc.factor }}
                                                {% elif calc.sample_quantity %}
                                                    Cant. Muestra: {{ calc.sample_quantity }}
                                                {% endif %}
                                            </td>
                                            <td class="text-center">{{ calc.position|default:"No aplica" }}</td>
                                            <td class="text-center">
                                                {% if calc.calculate_description_relation %}
                                                    <a href="javascript:void(0);"
                                                       onclick="open_modal('{% url 'product:edit_calc_relation_description' calc.id %}')"
                                                       class="btn btn-link btn-sm p-0 text-primary me-2">
                                                        <i class="bi bi-pencil-square text-warning"></i>
                                                    </a>
                                                {% elif calc.analytical_method_calculate %}
                                                    <a href="javascript:void(0);"
                                                       onclick="open_modal('{% url 'product:edit_calc_relation' calc.id %}')"
                                                       class="btn btn-link btn-sm p-0 text-primary me-2">
                                                        <i class="bi bi-pencil-square text-warning"></i>
                                                    </a>
                                                {% elif calc.volumen_std %}
                                                    <a href="javascript:void(0);"
                                                       onclick="open_modal('{% url 'product:edit_volume_relation_std' calc.id %}')"
                                                       class="btn btn-link btn-sm p-0 text-primary me-2">
                                                        <i class="bi bi-pencil-square text-warning"></i>
                                                    </a>
                                                {% elif calc.factor %}
                                                    <a href="javascript:void(0);"
                                                       onclick="open_modal('{% url 'product:edit_factor_relation' calc.id %}')"
                                                       class="btn btn-link btn-sm p-0 text-primary me-2">
                                                        <i class="bi bi-pencil-square text-warning"></i>
                                                    </a>
                                                {% elif calc.sample_quantity %}
                                                    <a href="javascript:void(0);"
                                                       onclick="open_modal('{% url 'product:edit_sample_gram_relation' calc.id %}')"
                                                       class="btn btn-link btn-sm p-0 text-primary me-2">
                                                        <i class="bi bi-pencil-square text-warning"></i>
                                                    </a>
                                                {% endif %}
                                                <a href="javascript:void(0);"
                                                   onclick="open_modal('{% url 'product:delete_calc_relation' calc.id %}')"
                                                   class="btn btn-link btn-sm p-0 text-primary">
                                                    <i class="bi bi-trash text-danger"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Contenedor de la Ecuación -->
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="p-3 bg-light rounded text-center" id="equation-relation-container">
                                {% if final_equation_relation %}
                                    <div style="font-size: 1.2rem; overflow-x: auto; font-family: 'Times New Roman', serif;">
                                        $${{ final_equation_relation }}$$
                                    </div>
                                {% else %}
                                    <div class="py-3 text-center text-muted">
                                        <i class="bi bi-inbox"></i> No hay parámetros definidos para generar la ecuación relacional.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="tile mb-3">
                <div class="tile-title-w-btn">
                    <h3 class="title">Especificaciones</h3>
                    <p>
                        <a class="btn btn-primary icon-btn"
                           onclick="open_modal('{{ create_specification_product }}')"><i
                                class="bi bi-plus-square me-2"></i>Nuevo
                        </a>
                    </p>
                </div>
                <div class="tile-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Ensayo</th>
                            <th class="text-center">Especificación</th>
                            <th class="text-center">Método</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in specifications %}
                            <tr>
                                <td class="text-center">{{ item.test_prod }}</td>
                                {% if item.lower_limit_prod or  item.upper_limit_prod %}
                                    <td class="text-center">
                                        {% if not item.lower_limit_prod or item.lower_limit_prod == 0 %}
                                            Menor que {{ item.upper_limit_prod|default_if_none:" " }} {{ item.unit_measure|default_if_none:" " }}
                                        {% elif not item.upper_limit_prod or item.upper_limit_prod == 0 %}
                                            Mayor que {{ item.lower_limit_prod|default_if_none:" " }} {{ item.unit_measure|default_if_none:" " }}
                                        {% else %}
                                            {{ item.lower_limit_prod|default_if_none:" " }} - {{ item.upper_limit_prod|default_if_none:" " }} {{ item.unit_measure|default_if_none:" " }}
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td class="text-center">{{ item.features_prod }}</td>
                                {% endif %}
                                <td class="text-center">{{ item.method_test.analytical_method.code_analytical_method }}</td>
                                <td class="text-center">
                                    <a onclick="open_modal('{% url 'product:update_specification_product' item.id %}')"
                                       title="Editar" style="cursor: pointer;">
                                        <i class="bi bi-pencil-square text-warning me-2"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">
                                    No hay especificaciones asociadas a este producto.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="tile">
                <div class="tile-title-w-btn">
                    <h3 class="title">Puntos de Muestreo</h3>
                    <p>
                        <a class="btn btn-primary icon-btn"
                           onclick="open_modal('{{ create_sample_point }}')"><i
                                class="bi bi-plus-square me-2"></i>Nuevo
                        </a>
                    </p>
                </div>
                <div class="tile-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-center">Secuencia</th>
                            <th class="text-center">Código</th>
                            <th class="text-center">Descripción</th>
                            <th class="text-center">Periodicidad</th>
                            <th class="text-center">Frecuencia (Horas)</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sample in sample_point %}
                            <tr>
                                <td class="text-center">{{ sample.sequence }}</td>
                                <td class="text-center">{{ sample.sample_point_code }}</td>
                                <td class="text-center">{{ sample.sample_point_name }}</td>
                                <td class="text-center">{{ sample.periodicity }}</td>
                                <td class="text-center">{{ sample.sample_frequency|default_if_none:'No aplica' }}</td>
                                <td class="text-center">
                                    {% if sample.enable_point %}
                                        <span class="me-1 badge bg-primary">Activo</span>
                                    {% else %}
                                        <span class="me-1 badge bg-danger">Inactivo</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a onclick="open_modal('{% url 'product:update_sample_point' sample.id %}')"
                                       title="Editar">
                                        <i class="bi bi-pencil-square text-warning me-2"></i>
                                    </a>
                                    <a onclick="open_modal('{% url 'product:detail_sample_point' sample.id %}')"
                                       title="Métodos Analíticos">
                                        <i class="bi bi-info-square text-info me-2"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">
                                    No hay puntos de muestreo asociados a esta planta.
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal_template" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
{% endblock %}

{% block scripts_detail %}

    <script>
        function open_modal(url) {
            $('#modal_template').load(url, function () {
                var modalElement = document.getElementById('modal_template');
                var modal = bootstrap.Modal.getOrCreateInstance(modalElement);
                modal.show();
                // Si hay select2 en el modal cargado, inicializarlo
                $('.select2').select2({
                    theme: 'bootstrap4',
                    dropdownParent: $('#modal_template')
                });
            });
        }
        // Initialize tooltips
        document.addEventListener("DOMContentLoaded", function () {
            // Inicializar tooltips
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>

{% endblock %}

