{% extends 'list_one.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'list_condition_register.js' %}"></script>
{% endblock %}

{% block buttons %}
    <a href="{{ create_url }}" class="btn btn-primary me-2" type="button">
        <i class="bi bi-plus-square me-2"></i> Nuevo
    </a>
{% endblock %}

{% block columns %}
    <tr>
        <th style="width: 15%">Fecha</th>
        <th style="width: 20%">Área</th>
        <th style="width: 15%">Variable</th>
        <th style="width: 10%">Dato</th>
        <th style="width: 30%">Registrado por</th>
        <th style="width: 10%">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
{% endblock %}
