{% extends 'base_login.html' %}
{% load widget_tweaks %}

{% block content %}
<form class="login-form" action="." method="post">
    <h3 class="login-head"><i class="bi bi-person me-2"></i>Iniciar Sesión</h3>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="mb-3">
        {{ form.username|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder: Usuario' }}
    </div>
    <div class="mb-3">
        {{ form.password|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder: Contraseña' }}
    </div>
    <div class="mb-3">
        <div class="utility">
            <div class="form-check">
            </div>
            <p class="semibold-text mb-2"><a href="{% url 'password_reset' %}">Olvidó su Contraseña?</a></p>
        </div>
    </div>
    <div class="mb-3 btn-container d-grid">
        <button class="btn btn-primary btn-block" type="submit"><i
                class="bi bi-box-arrow-in-right me-2 fs-5"></i>Ingresar
        </button>
    </div>
</form>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $('.login-content [data-toggle="flip"]').click(function () {
        $('.login-box').toggleClass('flipped');
        return false;
    });
</script>
{% endblock %}