{% extends 'base.html' %}
{% load static %}


{% block body %}

    <body class="app sidebar-mini">

    {% include 'header.html' %}

    {% include 'sidebar.html' %}

    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="{{ icon }}"></i> {{ entity }}</h1>
                <p>{{ subentity }}</p>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                {% block buttons %}

                {% endblock %}
{#                <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>#}
{#                <li class="breadcrumb-item"><a href="#">Blank Page</a></li>#}
            </ul>
        </div>


        {% block notifications %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="bs-component">
                            <div id="message" class="alert alert-dismissible alert-{{ message.tags }}">
                                <button class="btn-close" type="button" data-bs-dismiss="alert"
                                        data-dashlane-label="true"
                                        data-dashlane-rid="35c47206400a9024"></button>
                                <strong>Exito!</strong> {{ message }}.
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endblock %}

        {% block content %}


        {% endblock %}

    </main>

    <!-- Essential javascripts for application to work-->
    <script src="{% static 'lib/vali-admin/js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'lib/vali-admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/vali-admin/js/main.js' %}"></script>

    <!-- Page specific javascripts-->
    {% block scripts_detail %}


    {% endblock %}

    </body>

{% endblock %}