<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ entity }}</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true"></span></button>
        </div>
        <form enctype="multipart/form-data" method="post" action="{{ request.path }}" class="form-horizontal" id="modal_form">
            <div class="modal-body">
                {% csrf_token %}
                <input type="hidden" value="delete" name="action">
                <input type="hidden" value="{{ object.id }}" name="id">
                <div class="row">
                    <h5>{{ delete }}</h5>
                    <p>{{ info_delete }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" id="btnDelete">Si, Eliminar</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>

    {% block scripts_detail %}
        <script type="application/javascript">
            $('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = new FormData(this);
                const form_action = $(this).attr('action');
                $.ajax({
                    url: form_action,
                    type: 'POST',
                    data: parameters,
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                }).done(function (data) {
                    console.log(data);
                    if (!data.hasOwnProperty('error')) {
                        location.href = window.location.pathname;
                        return false;
                    }
                    console.log(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                });
            });

            $("#btnDelete").click(function () {
                $(this).prop("disabled", true); //deshabilitamos el botón
                $(this).submit()
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Eliminando...` //añadimos el spinner
                );
            });

        </script>

    {% endblock %}
</div>