{% extends 'base_login.html' %}
{% load static %}

{% block main %}
	<div class="page-header bg-gradient-dark position-relative m-3 border-radius-xl min-vh-50"
     style="background-image: url('{% static 'lib/material-dashboard-pro/img/bg-pricing.jpg' %}');">
    <span class="mask bg-gradient-dark opacity-2"></span>
    <div class="container py-10 postion-relative z-index-2">
        <div class="row">
            <div class="col-md-12 mx-auto text-center">
                <h2 class="text-white">LIMS - Sistema de Gestión de Información de Laboratorio</h2>
                <p class="text-white">Gestiona de manera fácil y rápida toda la información generada en tu
                    laboratorio</p>
            </div>
            <div class="col-md-12 mx-auto text-center">
                <a href="{% url 'login' %}" type="button" class="btn bg-gradient-primary btn-lg">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}