{% extends 'body.html' %}
{% load static %}

{% block head %}

    {% block head_list %}

    {% endblock %}

{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">{{ entity }}</h5>
            <p class="text-sm mb-0">
                {{ subtitle }}
            </p>
        </div>
        <div class="table-responsive">
            <table class="table table-flush" id="data">
                <thead class="thead-light">
                {% block columns %}

                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts_detail %}    

    <script type="application/javascript">

        {#$(document).ready(function () {#}
        {#    $('#data').DataTable({#}
        {#        responsive: true,#}
        {#        autoWidth: false,#}
        {#        language: {#}
        {#            "emptyTable": "No hay información",#}
        {#            "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",#}
        {#            "infoEmpty": "Mostrando 0 to 0 of 0 Registros",#}
        {#            "infoFiltered": "(Filtrado de _MAX_ total Registros)",#}
        {#            "lengthMenu": "Mostrar _MENU_ Registros",#}
        {#            "loadingRecords": "Cargando...",#}
        {#            "processing": "Procesando...",#}
        {#            "search": "Buscar:",#}
        {#            "zeroRecords": "Sin resultados encontrados",#}
        {#        },#}
        {#    });#}
        {##}
        {# });#}
    
    
        $(function () {

            $('#data').DataTable({
                responsive: true,
                autoWidth: false,
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
                },
             });

            $('.btnTest').on('click', function () {
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {
                });
             });
         });
        
    </script>
    
{#    <script type="application/javascript">#}
{##}
        {#$(function () {#}
        {#    $('#data').DataTable({#}
        {#        responsive: true,#}
        {#        autoWidth: false,#}
        {#        language: {#}
        {#            url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"#}
        {#         },#}
        {#    });#}
{##}
            {#$('.btnTest').on('click', function () {#}
            {#    $.ajax({#}
            {#        url: window.location.pathname,#}
            {#        type: 'POST',#}
            {#        data: {id: 1},#}
            {#        dataType: 'json'#}
            {#    }).done(function (data) {#}
            {#        console.log(data);#}
            {#    }).fail(function (jqXHR, textStatus, errorThrown) {#}
            {#        alert(textStatus + ': ' + errorThrown);#}
            {#    }).always(function (data) {#}
            {#    });#}
            {# });#}
         {# });#}
{##}
{#        $(document).ready(function () {#}
{#            $('#data').DataTable({#}
{#                responsive: true,#}
{#                autoWidth: false,#}
{#                language: {#}
{#                    "emptyTable": "No hay información",#}
{#                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",#}
{#                    "infoEmpty": "Mostrando 0 to 0 of 0 Registros",#}
{#                    "infoFiltered": "(Filtrado de _MAX_ total Registros)",#}
{#                    "lengthMenu": "Mostrar _MENU_ Registros",#}
{#                    "loadingRecords": "Cargando...",#}
{#                    "processing": "Procesando...",#}
{#                    "search": "Buscar:",#}
{#                    "zeroRecords": "Sin resultados encontrados",#}
{#                },#}
{#            });#}
            {##}
            {#$('.btnTest').on('click', function () {#}
            {#    $.ajax({#}
            {#        url: window.location.pathname,#}
            {#        type: 'POST',#}
            {#        data: {id: 1},#}
            {#        dataType: 'json'#}
            {#    }).done(function (data) {#}
            {#        console.log(data);#}
            {#    }).fail(function (jqXHR, textStatus, errorThrown) {#}
            {#        alert(textStatus + ': ' + errorThrown);#}
            {#    }).always(function (data) {#}
            {#    });#}
            {# });#}
{#         });#}
{#    #}
        {#let table = new DataTable('#data', {#}
        {#    responsive: true,#}
        {#    autoWidth: false,#}
        {#    language: {#}
        {#        "emptyTable": "No hay información",#}
        {#        "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",#}
        {#        "infoEmpty": "Mostrando 0 to 0 of 0 Registros",#}
        {#        "infoFiltered": "(Filtrado de _MAX_ total Registros)",#}
        {#        "lengthMenu": "Mostrar _MENU_ Registros",#}
        {#        "loadingRecords": "Cargando...",#}
        {#        "processing": "Procesando...",#}
        {#        "search": "Buscar:",#}
        {#        "zeroRecords": "Sin resultados encontrados",#}
        {#    },#}
        {# });#}
{##}
{##}
{##}
{##}
{#    </script>#}
    
    
{% endblock %}
