{% extends 'body.html' %}
{% load static %}

{% block head %}

    {% block head_list %}

    {% endblock %}

{% endblock %}


{% block notifications %}

{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-{{ div }}">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="data">
                            <thead>
                            {% block columns %}

                            {% endblock %}
                            </thead>

                            <tbody>
                            {% block rows %}

                            {% endblock %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts_detail %}
    <!-- Data table plugin-->
    <script src="{% static 'lib/vali-admin/js/plugins/jquery.dataTables.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css">
{% endblock %}
