<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title font-weight-normal" id="modal">{{ entity }}</h6>
            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" method="post" action="{{ request.path }}" class="form-horizontal">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% for field in form.visible_fields %}
                    {% if forloop.first %}
                        <div class="row">
                    {% endif %}
                    <div class="{% if field.field.widget.input_type == 'date' %}col-md-4
                    {% elif field.field.widget.input_type == 'file' %}col-md-8
                    {% else %}col-md-6{% endif %}">
                        {% if field.name == 'groups' or field.name == 'is_active' %}
                            <div class="input-group input-group-static mb-4">
                                <label class="form-label mt-5 ms-0">
                                    {{ field.label }}{% if field.field.required %}*{% endif %}
                                </label>
                                {{ field }}
                            </div>
                        {% else %}
                            {% if field.field.widget.input_type == 'file' %}
                                <div class="file-input-div">
                                    <label for="id_{{ field.name }}" class="file-input-label">
                                        {{ field.label }}{% if field.field.required %}*{% endif %}
                                    </label>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="input-group input-group-static my-3">
                                    <label for="id_{{ field.name }}">
                                        {{ field.label }}{% if field.field.required %}*{% endif %}
                                    </label>
                                    {{ field }}
                                </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% if forloop.last %}
                    {% elif forloop.counter|divisibleby:2 %}
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn bg-gradient-primary" id="btnSubmit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <script>

        $("#btnSubmit").click(function () {
            $(this).prop("disabled", true); //deshabilitamos el botón
            $(this).submit()
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Eliminando...` //añadimos el spinner
            );
        });

    </script>

</div>
