{% extends 'list_one.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'js/list_daily_verification.js' %}"></script>
{% endblock %}

{% block buttons %}
    <a href="{{ create_url }}" class="btn btn-primary me-2" type="button">
        <i class="bi bi-plus-square me-2"></i> Nuevo
    </a>
    <a href="{{ chart_url }}" class="btn btn-info me-2" type="button">
        <i class="fa-solid fa-chart-line me-2"></i> Ver Gráfico
    </a>
{% endblock %}

{% block columns %}
    <tr>
        <th>Equipo</th>
        <th>Fecha y Hora</th>
        <th>Parámetro</th>
        <th>Patrón</th>
        <th>Lectura</th>
        <th>Tolerancia</th>
        <th>Error</th>
        <th>Cumple</th>
        <th>Responsable</th>
        <th>Acciones</th>
    </tr>
{% endblock %}

{% block rows %}
{% endblock %}

{% block scripts_detail %}
    {{ block.super }}
{% endblock %}
