{% extends 'list_one.html' %}
{% load static %}


{% block head_list %}
    <script src="{% static 'list_user.js' %}"></script>
{% endblock %}

{% block new_create %}
{#    <a href="{{ create_url }}" class="btn btn-primary ml-3"><i class="nc-icon nc-simple-add"></i> Nuevo</a>#}
{% endblock %}

{% block columns %}
    <tr>
        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-10" style="width:22%">Nombre Completo</th>
        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-10" style="width:12%">Usuario</th>
        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-10" style="width:16%">Cargo</th>
        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-10" style="width:10%">Roles</th>
        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-10" style="width:20%">Email</th>
        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-10" style="width:10%">Estado</th>
        <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-10" style="width:10%">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}


{% endblock %}

{% block scripts_detail %}

{% endblock %}