{% extends 'list_one.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'list_method.js' %}"></script>
{% endblock %}

{% block buttons %}
    <a href="{{ create_url }}" class="btn btn-primary me-2" type="button">
        <i class="bi bi-plus-square me-2"></i> Nuevo
    </a>
{% endblock %}

{% block columns %}
    <tr>
        <th class="text-md-center" style="width: 10%">Código</th>
        <th class="text-md-center" style="width: 25%">Descripción</th>
        <th class="text-md-center" style="width: 18%">Laboratorio</th>
        <th class="text-md-center" style="width: 15%">Tipo</th>
        <th class="text-md-center" style="width: 10%">Muestra (g)</th>
        <th class="text-md-center" style="width: 8%">Cifras Sig.</th>
        <th class="text-md-center" style="width: 7%">Activo</th>
        <th class="text-md-center" style="width: 7%">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block scripts_detail %}
    {{ block.super }}
{% endblock %}