{% extends 'label_pdf.html' %}
{% load humanize %}
{% load l10n %}

{% block content_pdf %}

    <table class="table">
        <tr>
            <td>
                <h5>
                    <b>
                        Solución de {{ sln.solute_reagent.reagent.description_reagent }}
                        {{ sln.concentration }}{{ sln.concentration_unit }}
                    </b>
                </h5>
            </td>
        </tr>
    </table>

    <table class="tabContent" style="border-radius: 15px">
        <tr style="border-bottom: none; padding-bottom: 1px">
            <th style="border: none"><strong>Código: </strong></th>
            <th style="border: none"><strong>Preparación: </strong></th>
            <th style="border: none"><strong>Volumen: </strong></th>
            <th style="border: none"><strong>Vence: </strong></th>
        </tr>
        <tr style="border-top: none; border-bottom: none">
            <td style="border: none">{{ sln.code_solution }}</td>
            <td style="border: none">{{ sln.preparation_date | date:'Y-m-d' }}</td>
            <td style="border: none">{{ sln.quantity_solution | intcomma:False }}mL</td>
            <td style="border: none">{{ sln.expire_date_solution | date:'Y-m-d' }}</td>
        </tr>
        <tr style="border-bottom: none; border-top: none">
            <th style="border: none" colspan="2"><strong>Preparado por:</strong></th>
        </tr>
        <tr style="border-top: none">
            <td style="border: none" colspan="2">{{ sln.preparated_by }}</td>
        </tr>
    </table>

{% endblock %}