{% extends 'list_one.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'list_solution_base.js' %}"></script>
{% endblock %}

{% block buttons %}
    <a href="{{ create_url }}" class="btn btn-primary me-2" type="button">
        <i class="bi bi-plus-square me-2"></i> Nuevo
    </a>
{% endblock %}

{% block columns %}
    <tr>
        <th class="text-md-center" style="width:28%">Descripción</th>
        <th class="text-md-center" style="width:15%">Concentración</th>
        <th class="text-md-center" style="width:18%">Dias Estabilidad</th>
        <th class="text-md-center" style="width:15%">Estandarizable</th>
        <th class="text-md-center" style="width:12%">Estado</th>
        <th class="text-md-center" style="width:12%">Acciones</th>
    </tr>
{% endblock %}

{% block rows %}


{% endblock %}

{% block scripts_detail %}
    {{ block.super }}
{% endblock %}